:root {
    --main-color: #FA0008;
    --bg-color: #FFC3C9;

    --black: #000000;
    --gray: #404040;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url(../font/Jalnan2.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JalnanGothic';
    src: url(../font/JalnanGothic.otf)
}

@font-face {
    font-family: 'Pretendard-Black';
    src: url(../font/Pretendard-Black.woff2)
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url(../font/Pretendard-SemiBold.woff2)
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url(../font/Pretendard-Medium.woff2)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard-Medium';
}

body,
html {
    width: 100%;
    overflow-x: hidden;

    li {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    img {
        vertical-align: top;
    }
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    h1 {
        color: var(--black);
        font-size: 30px;
        font-family: 'JalnanGothic';
        position: absolute;
        top: 145px;
        left: 145px;

        span {
            margin-right: 30px;
            display: block;
        }
    }
}

#title {
    background: url(../img/title_bg.png) var(--bg-color) no-repeat center;
    background-size: cover;
    position: relative;

    img {
        position: absolute;
        top: 23%;
        right: -1%;
        width: 37%;
    }
}

#sec1 {
    text-align: left;

    .text-wrap {
        position: absolute;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);

        h2 {
            color: var(--main-color);
            font-size: 60px;
            margin-bottom: 40px;
            font-family: 'Pretendard-Black';
        }

        p {
            color: var(--gray);
            font-size: 28px;
            font-family: 'Pretendard-SemiBold';
        }
    }
}

#sec2 {
    .text-wrap {

        p {
            position: absolute;
            top: 185px;
            left: 145px;
            display: block;
            color: var(--gray);
            font-family: 'Pretendard-Medium';
            font-size: 30px;
        }
    }

    ul {
        display: flex;
        gap: 50px;

        li {
            width: 16vw;
            height: 16vw;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
            border-radius: 999px;
            font-family: 'Pretendard-Black';

            &:nth-child(1),
            &:nth-child(3) {
                background-color: #FFC3C9;
            }

            &:nth-child(2) {
                border: 3px solid #FFC3C9;
            }
        }
    }
}

#sec3 {
    background-color: var(--bg-color);

    ul {
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            width: 16vw;
            height: 16vw;
            border-radius: 999px;
            background-color: #fff;
            margin: 0px -30px;

            display: flex;
            align-items: center;
            justify-content: center;

            p {
                width: 8vw;
                font-size: 25px;
                color: var(--gray);
                font-family: 'Pretendard-Black';

                span {
                    color: var(--main-color);
                    font-family: 'Pretendard-Black';
                }
            }
        }
    }
}

#sec4 {
    background-color: var(--bg-color);

    ul {
        display: flex;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 13vw;
            height: 13vw;
            border-radius: 999px;
            background-color: #fff;
            margin: -20px -20px;

            &:nth-child(1) {
                position: relative;
                border: 3px solid #FA0008;
                background-color: transparent;
                color: #FA0008;
                font-size: 25px;
                font-family: 'Pretendard-Black';
                margin-right: 100px;

                &::after {
                    content: '';
                    width: 4.3vw;
                    height: 3px;
                    background-color: #FA0008;
                    position: absolute;
                    left: 100%;
                }
            }

            p {
                width: 8vw;
                font-size: 25px;
                color: var(--gray);
                font-family: 'Pretendard-Black';

                span {
                    color: var(--main-color);
                    font-family: 'Pretendard-Black';
                }
            }
        }
    }
}

#sec5 {

    .persona_wrap {
        display: flex;
        gap: 30px;

        .persona {
            position: relative;
            width: 38vw;
            border-radius: 10px;
            background-color: var(--bg-color);
            padding: 40px 30px;
            margin: 50px 0px;

            .per {
                margin: 20px 0px;
                position: relative;
                color: #404040;
            }

            .needs {
                margin-top: 50px;
                position: relative;

                &::before {
                    content: '';
                    width: 35vw;
                    height: 3px;
                    background-color: #404040;
                    position: absolute;
                    top: -25px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            h2 {
                font-size: 1.8vw;
                text-align: left;
                font-family: 'Pretendard-Black';
            }

            span {
                font-size: 1vw;
                position: absolute;
                top: 15%;
                left: 18%;
            }

            h3 {
                font-size: 1.8vw;
                text-align: left;
                font-family: 'Pretendard-Black';
                color: var(--main-color);
            }

            p {
                font-size: 1vw;
                text-align: left;
                margin-top: 10px;
            }
        }
    }
}

#sec6 {
    background-color: #F5F5F5;
}

#sec7 {
    text-align: left;

    ul {
        position: absolute;
        top: 50%;
        left: 70%;
        transform: translate(-50%, -50%);

        li {
            margin: 20px;
            width: 50vw;
            height: 12vw;
            background-color: var(--bg-color);
            border-radius: 999px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px;

            &:nth-child(2) {
                h2 {
                    color: #838383;
                }
            }

            &:nth-child(3) {
                h2 {
                    color: #E45779;
                }
            }

            h2 {
                width: 10vw;
                height: 10vw;
                font-family: 'JalnanGothic';
                font-size: 35px;
                border-radius: 99px;
                background-color: #fff;
                color: #EE8C34;
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-family: 'JalnanGothic';
                    font-size: 35px;

                    &:nth-child(1) {
                        color: #497798;
                    }

                    &:nth-child(2) {
                        color: #C75541;
                    }
                }
            }

            p {
                font-size: 25px;
                color: var(--gray);
                width: 250px;
                font-family: 'Pretendard-SemiBold';
            }
        }
    }
}

#sec8 {
    flex-direction: column;

    h1 {
        font-size: 35px;
        line-height: 35px;
        margin-bottom: 0px;
        position: absolute;
        z-index: 99;

        &:nth-child(1) {
            top: 22%;
            left: 24%;
            transform: translate(-50%, -50%);
        }

        &:nth-child(2) {
            top: 78%;
            left: 75%;
            transform: translate(-50%, -50%);
        }
    }

    .inner {
        display: flex;

        .box {
            width: 22vw;
            height: 22vw;
            border-radius: 999px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            margin: 0px -40px;

            p {
                width: 12vw;
            }

            &:nth-child(1) {
                position: relative;
                background-color: var(--bg-color);

                &::before {
                    content: '';
                    width: 7vw;
                    height: 3px;
                    background-color: var(--bg-color);
                    position: absolute;
                    top: 0%;
                    left: 0%;
                    rotate: 45deg;
                    z-index: -1;
                }
            }

            &:nth-child(2) {
                position: relative;
                background-color: #fff;
                border: 3px solid var(--bg-color);

                &::before {
                    content: '';
                    width: 7vw;
                    height: 3px;
                    background-color: var(--bg-color);
                    position: absolute;
                    bottom: 0%;
                    right: 0%;
                    rotate: 45deg;
                    z-index: -1;
                }
            }
        }
    }
}

#sec9 {
    .app_text {
        position: absolute;
        top: 45%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: left;

        h2 {
            display: flex;
            color: var(--black);
            font-size: 40px;
            font-family: 'JalnanGothic';
    
            span {
                margin-right: 30px;
                display: block;
                font-family: 'JalnanGothic';
            }
        }

        p {
            width: 500px;
            font-size: 28px;
            color: #585858;
            margin-top: 100px;
        }
    }

    .app_img {
        position: absolute;
        bottom: 0%;
        right: 5%;
        width: 40%;

        img {
            width: 100%;
        }
    }
}

#sec10 {
    .app_text {
        position: absolute;
        top: 50%;
        right: 15%;
        text-align: left;

        h2 {
            display: flex;
            color: var(--black);
            font-size: 40px;
            font-family: 'JalnanGothic';
    
            span {
                margin-right: 30px;
                display: block;
                font-family: 'JalnanGothic';
            }
        }

        p {
            width: 500px;
            font-size: 28px;
            color: #585858;
            margin-top: 100px;
        }
    }

    .app_img {
        position: absolute;
        bottom: 0%;
        left: 10%;
        width: 40%;

        img {
            width: 100%;
        }
    }
}

#sec11 {
    .app_text {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        text-align: left;

        h2 {
            display: flex;
            color: var(--black);
            font-size: 40px;
            font-family: 'JalnanGothic';
    
            span {
                margin-right: 30px;
                display: block;
                font-family: 'JalnanGothic';
            }
        }

        p {
            width: 500px;
            font-size: 28px;
            color: #585858;
            margin-top: 100px;
        }
    }

    .app_img {
        position: absolute;
        bottom: 0%;
        right: 5%;
        width: 40%;

        img {
            width: 100%;
        }
    }
}

#sec12{
    height: 50vh;
    background-color: #F5F5F5;

    h2{
        font-family: 'Pretendard-Black';
        font-size: 40px;
    }
}

#sec13 {
    background-color: #F5F5F5;

    h1 {
        position: absolute;
        top: 85px;
        left: 85px;
    }

    img {
        width: 60%;
        position: absolute;
        bottom: 85px;
        right: 85px;
    }
}

#sec14 {
    background-color: #F5F5F5;
    text-align: left;

    h1 {
        position: absolute;
        top: 85px;
        left: 85px;
    }

    ul {
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            margin: 50px 0px;

            &:nth-child(1) {
                h2 {
                    font-family: 'yg-jalnan';
                }
            }

            &:nth-child(2) {
                h2 {
                    font-family: 'JalnanGothic';
                }
            }

            &:nth-child(3) {
                h2 {
                    font-family: 'Pretendard-Black';
                }
            }

            h2 {
                width: 500px;
                color: var(--main-color);
                font-size: 40px;
            }

            p {
                width: 800px;
                font-size: 25px;
                color: var(--gray);
            }
        }
    }
}

#sec15 {
    background-color: #F5F5F5;
    text-align: left;
    border-radius: 0px 0px 99px 99px;

    h1 {
        position: absolute;
        top: 85px;
        left: 85px;
    }

    img {
        width: 25%;
    }

    p {
        width: 30%;
        font-size: 25px;
        margin-top: 50px;
    }
}

footer {
    position: relative;
    width: 100%;
    height: 50vh;
    color: var(--black);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32.5px;
    flex-direction: column;
    gap: 25px;

    &::before {
        content: '';
        background: url(../img/Ellipse.svg) repeat-x center;
        background-size: 75px;
        position: absolute;
        top: calc(0% - 32.5px);
        width: 100%;
        height: 75px;
    }

    h2 {
        font-family: 'yg-jalnan';

        a {
            color: var(--main-color);
            font-family: 'yg-jalnan';
            transition: 0.35s;

            &:hover {
                color: var(--gray);
            }
        }
    }

    p {
        font-family: 'Pretendard-Black';
        font-size: 25px;
        color: var(--gray);

        &.thank {
            position: absolute;
            bottom: 2%;
            color: var(--black);
        }
    }

    span {
        font-family: "yg-jalnan";
        font-size: 20px;
        position: absolute;
        right: 32%;
        top: 34%;
        rotate: 20deg;
        animation: spanAni 2s linear infinite;
    }
}

@keyframes spanAni {
    0% {
        transform: scale(100%);
    }

    50% {
        transform: scale(110%);
    }

    100% {
        transform: scale(100%);
    }
}