@import url(/reset.css);
@font-face {
  font-family: "Pretendare-M";
  src: url(../font/Pretendard-Medium.woff2);
}
@font-face {
  font-family: "Pretendare-R";
  src: url(../font/Pretendard-Regular.woff2);
}
@font-face {
  font-family: "NotoSerif-R";
  src: url(../font/NotoSerifKR-Regular.woff2);
}
@font-face {
  font-family: "NotoSerif-M";
  src: url(../font/NotoSerifKR-Medium.woff2);
}
@font-face {
  font-family: "xeicon";
  src: url(../font/xeicon.woff2);
}
* {
  font-family: "Pretendare-R";
  box-sizing: border-box;
}

img {
  vertical-align: top;
}

.flex {
  display: flex;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 81px;
  z-index: 99;
  border-bottom: 1px solid #fff;
  transition: 0.35s;
}
header.on {
  background-color: #fff;
}
header .header-wrap {
  width: 95%;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}
header .header-wrap nav {
  text-align: center;
  white-space: nowrap;
}
header .header-wrap nav a {
  display: block;
}
header .header-wrap nav ul {
  justify-content: space-between;
  align-items: center;
}
header .header-wrap nav li.main-menu {
  position: relative;
  padding: 32.5px 25px;
}
header .header-wrap nav li.main-menu:hover ul.sub-menu {
  display: block;
}
header .header-wrap nav li.main-menu > a {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}
header .header-wrap nav ul.sub-menu {
  position: absolute;
  display: none;
  width: 100%;
  min-width: 180px;
  left: 50%;
  transform: translate(-50%, 5%);
  z-index: 99;
  padding: 10px;
  background: #BF2A4C;
  border-radius: 8px;
}
header .header-wrap nav ul.sub-menu li {
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  color: #EFEADE;
}
header .header-wrap .header-btn,
header .header-wrap .header-sns,
header .header-wrap .header-sidemenu {
  gap: 1.5rem;
  color: #fff;
}
header .header-wrap .header-sidemenu .header-sns {
  margin-top: 3px;
}
header .header-wrap .header-sidemenu .header-btn li:nth-child(1) {
  font-size: 25px;
  font-weight: 600;
  line-height: 2rem;
}
header .header-wrap .header-sidemenu .header-btn li:nth-child(2) {
  font-size: 2rem;
  text-align: center;
}
header .header-wrap .header-sidemenu .header-btn li:nth-child(2)::before {
  content: "\e91c";
  display: block;
  width: 100%;
  height: 100%;
  font-family: "xeicon";
  text-align: center;
}

#sect0 .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
#sect0 .swiper .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
#sect0 .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#sect0 .swiper .swiper-slide .slide-text {
  position: absolute;
  white-space: nowrap;
  color: #fff;
  letter-spacing: 0.5rem;
}
#sect0 .swiper .swiper-slide .slide-text h2 {
  font-size: 70px;
  font-family: "NotoSerif-M";
}
#sect0 .swiper .swiper-slide .slide-text h3 {
  font-size: 35px;
  font-family: "NotoSerif-R";
}
#sect0 .swiper .swiper-slide .slide-text h3 b {
  font-size: 50px;
  font-family: "NotoSerif-R";
}
#sect0 .swiper .swiper-slide:nth-child(1) .slide-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#sect0 .swiper .swiper-slide:nth-child(2) .slide-text {
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .swiper-slide:nth-child(3) .slide-text {
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .swiper-slide:nth-child(4) .slide-text {
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .swiper-slide:nth-child(5) .slide-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .swiper-slide:nth-child(6) .slide-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .swiper-slide:nth-child(7) .slide-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sect0 .swiper .scroll {
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 99;
  font-size: 20px;
}
#sect0 .swiper .scroll::after {
  content: "";
  position: absolute;
  bottom: -160%;
  left: 50%;
  width: 1.8rem;
  height: 2.6rem;
  background: url(../image/img_vScroll.png) center no-repeat;
  background-size: contain;
  transform: translateX(-50%);
  animation: vMove 1.5s infinite linear alternate;
}

#sect1 {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-image: url(../image/section01.jpg);
}
#sect1 .sect1-wrap {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
#sect1 .sect1-wrap .text {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: space-between;
}
#sect1 h2 {
  font-family: "NotoSerif-M";
  font-size: 55px;
}
#sect1 h3 {
  font-family: "NotoSerif-R";
  font-size: 26px;
}
#sect1 .btn a {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
  padding: 23px 62px;
  border-radius: 99px;
}
#sect1 .btn a::after {
  content: "\e907";
  font-family: "xeicon";
  position: relative;
  display: inline-block;
  margin-left: 0.9rem;
  top: 0.1rem;
}
#sect1 .menu {
  gap: 0.2rem;
}
#sect1 .menu li {
  position: relative;
  width: 338px;
  height: 220px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 23px;
}
#sect1 .menu li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
#sect1 .menu li a::before {
  content: " ";
  position: absolute;
  display: block;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 3px;
  transition: 0.35s;
}
#sect1 .menu li a:hover::before {
  height: 100%;
}
#sect1 .menu li a div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 99;
}
#sect1 .menu li:nth-child(1) a::before {
  background-color: #22ADB9;
}
#sect1 .menu li:nth-child(2) a::before {
  background-color: #1B5BBE;
}
#sect1 .menu li:nth-child(3) a::before {
  background-color: #D93F69;
}

#sect2 {
  background-image: url(../image/section02.jpg);
  position: relative;
  color: #fff;
  text-align: left;
}
#sect2 .sect2-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
#sect2 .sect2-wrap h2 {
  font-size: 55px;
  font-family: "NotoSerif-R";
}
#sect2 .sect2-wrap h3 {
  font-size: 22px;
  font-family: "NotoSerif-R";
}
#sect2 .sect2-wrap .sect2-menu {
  margin-top: 30px;
}
#sect2 .sect2-wrap .sect2-menu li {
  position: relative;
  width: 50%;
  opacity: 80%;
  font-size: 20px;
  border-bottom: 1px solid #fff;
}
#sect2 .sect2-wrap .sect2-menu li a {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 10px;
  padding: 20px;
}
#sect2 .sect2-wrap .sect2-menu li a::after {
  content: "\e93e";
  position: absolute;
  right: 0;
  font-family: "xeicon";
}
#sect2 .sect2-wrap .sect2-menu li:hover {
  opacity: 100%;
}
#sect2 .swiper {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 520px;
}
#sect2 .swiper .swiper-button-next {
  position: absolute;
  top: 60%;
  right: 5%;
}
#sect2 .swiper .swiper-button-next::after {
  content: "\e93f";
  font-family: "xeicon";
  color: #fff;
  font-size: 20px;
}
#sect2 .swiper .swiper-button-prev {
  position: absolute;
  top: 60%;
  right: 10%;
}
#sect2 .swiper .swiper-button-prev::after {
  content: "\e93c";
  font-family: "xeicon";
  color: #fff;
  font-size: 20px;
}
#sect2 .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sect2 .swiper .swiper-slide img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 418px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 90;
}
#sect2 .swiper .swiper-slide .text {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 420px;
  height: 430px;
  background-color: rgba(0, 0, 0, 0.4);
}
#sect2 .swiper .swiper-slide .text .text-wrap {
  position: absolute;
  bottom: -25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 418px;
  height: 215px;
  display: flex;
  padding: 10px 40px;
  padding-bottom: 80px;
  text-align: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#sect2 .swiper .swiper-slide .text .text-wrap h3 {
  width: 100%;
  font-size: 23px;
  margin-bottom: 10px;
}
#sect2 .swiper .swiper-slide .text .text-wrap p {
  font-size: 19px;
}

#sect3 {
  position: relative;
  background-image: url(../image/section03.jpg);
  text-align: center;
  color: #fff;
}
#sect3 .sect3-wrap {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sect3 .sect3-wrap h2 {
  font-size: 55px;
  font-family: "NotoSerif-R";
  margin-bottom: 20px;
}
#sect3 .sect3-wrap h3 {
  font-size: 23px;
  font-family: "NotoSerif-R";
}
#sect3 .sect3-menu {
  gap: 0.2rem;
}
#sect3 .sect3-menu li {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translatex(-50%);
  width: 30rem;
  font-size: 23px;
}
#sect3 .sect3-menu li:nth-child(1) {
  left: 24.5%;
}
#sect3 .sect3-menu li:nth-child(2) {
  left: 50%;
}
#sect3 .sect3-menu li:nth-child(3) {
  left: 75.5%;
}
#sect3 .sect3-menu li a {
  display: flex;
  height: 104px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px 10px 0px 0px;
  padding: 34px 10px 42px;
  transition: 0.5s;
}
#sect3 .sect3-menu li a img {
  display: none;
}
#sect3 .sect3-menu li a i {
  display: none;
}
#sect3 .sect3-menu li a.on {
  height: 297px;
  background: rgba(25, 160, 181, 0.7);
}
#sect3 .sect3-menu li a.on img {
  display: block;
}
#sect3 .sect3-menu li a.on i {
  display: block;
}
#sect3 i::before {
  content: "\e9c5";
  font-family: "xeicon";
  display: block;
  line-height: 1;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
}

#sect4 {
  background-image: url(../image/section04.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
#sect4 h2 {
  color: #fff;
  font-size: 55px;
  font-family: "NotoSerif-R";
  margin-top: 100px;
}
#sect4 .tab-btn li {
  width: 350px;
}
#sect4 .tab-btn li a {
  display: block;
  width: 100%;
  padding: 14px;
  text-align: center;
  background: rgba(17, 17, 17, 0.5);
  border: 1px solid rgba(17, 17, 17, 0.5);
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
#sect4 .tab-btn li a.on {
  background: #C71C30;
  border: 1px solid #C71C30;
}
#sect4 .tab-btn li a:hover {
  border: 1px solid #C71C30;
}
#sect4 .content li {
  display: none;
}
#sect4 .content li .btn {
  color: #fff;
  font-size: 20px;
  padding: 18px 45px;
  border: 2px solid #fff;
  border-radius: 99px;
  margin: 30px;
}
#sect4 .content li .btn::after {
  content: "\e914";
  font-family: "xeicon";
  position: relative;
  display: inline-block;
  margin-left: 0.9rem;
  top: 0.1rem;
  transition: all 0.5s;
}
#sect4 .content li .btn:hover {
  border: 2px solid #C71C30;
  background: rgba(17, 17, 17, 0.5);
}
#sect4 .content li .btn:hover::after {
  transform: rotate(180deg);
}
#sect4 .content li.on {
  display: flex;
}
#sect4 .content li:nth-child(1) {
  flex-direction: column;
  align-items: center;
}
#sect4 .content li:nth-child(1) div {
  gap: 40px;
}
#sect4 .content li:nth-child(1) div a {
  width: 320px;
}
#sect4 .content li:nth-child(1) div a:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
#sect4 .content li:nth-child(1) div a:hover img {
  transform: scale(1.1);
}
#sect4 .content li:nth-child(1) div a .img {
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
#sect4 .content li:nth-child(1) div a img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
}
#sect4 .content li:nth-child(1) div a .text {
  background-color: #fff;
  padding: 20px;
}
#sect4 .content li:nth-child(1) div a .text .date {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  color: #848484;
  margin-bottom: 20px;
}
#sect4 .content li:nth-child(1) div a .text .date p:nth-child(1)::before {
  content: "\e9f5";
  font-family: "xeicon";
}
#sect4 .content li:nth-child(1) div a .text .date p:nth-child(2)::before {
  content: "\e9a2";
  font-family: "xeicon";
}
#sect4 .content li:nth-child(1) div a .text .desc {
  font-size: 18px;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sect4 .content li:nth-child(2) {
  flex-direction: column;
  align-items: center;
}
#sect4 .content li:nth-child(2) div {
  width: 75.8%;
  display: flex;
  flex-wrap: wrap;
}
#sect4 .content li:nth-child(2) div a {
  width: 320px;
  height: 220px;
  position: relative;
  overflow: hidden;
  margin: 20px;
}
#sect4 .content li:nth-child(2) div a img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
}
#sect4 .content li:nth-child(2) div a p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.35s;
  z-index: 99;
}
#sect4 .content li:nth-child(2) div a span {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0;
  transition: 0.35s;
  z-index: 90;
}
#sect4 .content li:nth-child(2) div a:hover img {
  transform: scale(1.1);
}
#sect4 .content li:nth-child(2) div a:hover p {
  opacity: 1;
}
#sect4 .content li:nth-child(2) div a:hover span {
  opacity: 1;
}
#sect4 .content li:nth-child(3) {
  flex-direction: column;
  align-items: center;
}
#sect4 .content li:nth-child(3) div {
  width: 54%;
  display: flex;
  flex-wrap: wrap;
}
#sect4 .content li:nth-child(3) div a {
  position: relative;
  width: calc(33.3333333333% - 40px);
  overflow: hidden;
  margin: 20px;
}
#sect4 .content li:nth-child(3) div a img {
  width: 100%;
  height: 100%;
  transition: 0.35s;
}
#sect4 .content li:nth-child(3) div a p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.35s;
  z-index: 99;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sect4 .content li:nth-child(3) div a span {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0;
  transition: 0.35s;
  z-index: 90;
}
#sect4 .content li:nth-child(3) div a:hover img {
  transform: scale(1.1);
}
#sect4 .content li:nth-child(3) div a:hover p {
  opacity: 1;
}
#sect4 .content li:nth-child(3) div a:hover span {
  opacity: 1;
}
#sect4 .content li:nth-child(4) {
  flex-direction: column;
  align-items: center;
}
#sect4 .content li:nth-child(4) div {
  width: 100%;
  display: flex;
}
#sect4 .content li:nth-child(4) div a {
  margin: 20px;
  overflow: hidden;
  position: relative;
}
#sect4 .content li:nth-child(4) div a img {
  width: 320px;
  transition: 0.35s;
}
#sect4 .content li:nth-child(4) div a p {
  position: absolute;
  bottom: 5%;
  left: 5%;
  opacity: 0;
  color: #fff;
  font-size: 20px;
  transition: 0.35s;
  z-index: 99;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
#sect4 .content li:nth-child(4) div a span {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 50%);
  opacity: 0;
  transition: 0.35s;
  z-index: 90;
}
#sect4 .content li:nth-child(4) div a:hover img {
  transform: scale(1.1);
}
#sect4 .content li:nth-child(4) div a:hover p {
  opacity: 1;
}
#sect4 .content li:nth-child(4) div a:hover span {
  opacity: 1;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2A2D34;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  padding: 38px 0px 38px 38px;
  gap: 1rem 3rem;
}
footer p {
  font-size: 17px;
  margin-bottom: 10px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  font-size: 15px;
}
footer ul li a {
  color: #fff;
  opacity: 50%;
  transition: 0.35s;
}
footer ul li a:hover {
  opacity: 100%;
}

@keyframes vMove {
  50% {
    bottom: -200%;
  }
}
@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}
@media screen and (min-width: 641px) {
  nav {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    display: block;
  }
}