:root {
  --primary-color: #5CC572;
  --secondary-color: #D9F79D;
  --dark-color: #286A36;
  --light-color: #FDFBD8;
  --inner-shadow: inset 0px 4px 4px 0 rgba(0, 0, 0, 0.4);
  --text-shadow: 0px 4px 4px rgba(33, 107, 48, 0.4);
}

@font-face {
  font-family: "GmarketSansLight";
  src: url(../font/GmarketSansLight.woff2);
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url(../font/GmarketSansMedium.woff2);
}
@font-face {
  font-family: "GmarketSansBold";
  src: url(../font/GmarketSansBold.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  overflow-x: hidden;
  font-family: "GmarketSansMedium";
}
body li,
html li {
  list-style: none;
}
body a,
html a {
  text-decoration: none;
  color: inherit;
}
body img,
html img {
  vertical-align: top;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
section h1 {
  margin-bottom: 30px;
  color: #000;
  font-size: 50px;
  font-family: "GmarketSansBold";
}
section h1 span {
  display: block;
  text-align: left;
}
section h1 span::before {
  content: "-";
  margin-right: 20px;
}

#title {
  text-align: left;
  background-color: var(--primary-color);
}
#title .text {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
  color: #fff;
}
#title .text h1 {
  width: 80%;
}
#title .text h1 img {
  width: 100%;
}
#title .text h2 {
  margin: 30px 15px;
  font-size: 30px;
  font-weight: 100;
}
#title .text p {
  margin: 30px 15px;
  font-size: 22px;
}
#title .text p.color {
  color: var(--secondary-color);
}
#title .abs .lotus1 {
  position: absolute;
  top: 40%;
  right: -8%;
}
#title .abs .effect {
  position: absolute;
  top: 21.5%;
  right: 0;
}

#sec1 {
  flex-direction: column;
}
#sec1 ul {
  display: flex;
  margin-top: 50px;
}
#sec1 ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22vw;
  height: 22vw;
  margin: -30px;
  background-color: var(--primary-color);
  border-radius: 999px;
  font-size: 1.1vw;
}
#sec1 ul li p {
  width: 14vw;
  color: #fff;
}
#sec1 ul li p span {
  color: var(--secondary-color);
  font-family: "GmarketSansBold";
}

#sec2 {
  flex-direction: column;
}
#sec2 .title {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  width: 45vw;
}
#sec2 .title h2 {
  font-family: "GmarketSansBold";
}
#sec2 .title h2:nth-child(2) {
  margin-right: 100px;
}
#sec2 .wrap {
  display: flex;
  margin-top: 50px;
}
#sec2 .wrap ul {
  margin: 30px;
}
#sec2 .wrap ul.text1 li {
  width: 12vw;
  height: 12vw;
  margin: -40px 0px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 999px;
}
#sec2 .wrap ul.text1 li p {
  width: 80%;
}
#sec2 .wrap ul.text2 li {
  position: relative;
  width: 12vw;
  height: 12vw;
  margin: -40px 0px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
  color: #000;
  border-radius: 999px;
}
#sec2 .wrap ul.text2 li::before {
  content: "";
  width: 10vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  left: -50%;
  z-index: -1;
}
#sec2 .wrap ul.text2 li p {
  width: 80%;
}
#sec2 .wrap ul.text2 li span {
  color: var(--primary-color);
}
#sec2 .wrap ul.text3 li {
  width: 20vw;
  height: 12vw;
  margin: -40px 0px;
  text-align: left;
}
#sec2 .wrap ul.text3 li p {
  width: 15vw;
}
#sec2 .wrap ul.text3 li span {
  color: var(--primary-color);
}
#sec2 .wrap ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
}

#sec3 {
  flex-direction: column;
}
#sec3 .wrap {
  margin-top: 50px;
}
#sec3 ul {
  margin: 30px;
  display: flex;
  justify-content: space-between;
}
#sec3 ul.text1 {
  width: 60vw;
}
#sec3 ul.text1 li {
  width: 12vw;
  height: 12vw;
  margin: 30px 0px;
  background-color: var(--primary-color);
  border-radius: 999px;
  color: #fff;
  margin: 0px 2.5vw;
}
#sec3 ul.text1 li:nth-child(2) {
  background-color: var(--secondary-color);
  color: #000;
}
#sec3 ul.text1 li:nth-child(2)::before {
  content: "";
  width: 35vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  z-index: -1;
}
#sec3 ul.text1 li p {
  width: 80%;
}
#sec3 ul.text2 li {
  width: 18vw;
  height: 5vw;
  margin: 30px 0px;
  color: #000;
}
#sec3 ul.text2 li p {
  width: 80%;
}
#sec3 ul.text2 li span {
  color: var(--primary-color);
}
#sec3 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
}

#sec4 {
  flex-direction: column;
}
#sec4 .wrap {
  display: flex;
  margin-top: 50px;
}
#sec4 .key {
  width: 20vw;
  height: 20vw;
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
}
#sec4 .key h2 {
  font-size: 80px;
  font-family: "GmarketSansBold";
}
#sec4 ul {
  margin-left: 100px;
  position: relative;
  display: flex;
  align-items: center;
}
#sec4 ul::before {
  content: "";
  width: 5vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: -11.3%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#sec4 ul li {
  width: 12vw;
  height: 12vw;
  border-radius: 999px;
  border: 3px solid var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1vw;
  margin: 0px -20px;
}

#sec5 {
  background-color: var(--primary-color);
}
#sec5 h1 {
  position: absolute;
  top: 150px;
  left: 120px;
  color: #fff;
}
#sec5 .persona_wrap {
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#sec5 .persona_wrap .persona {
  position: relative;
  width: 50vw;
  border-radius: 10px;
  background-color: #fff;
  padding: 40px 30px;
  margin: 50px 0px;
}
#sec5 .persona_wrap .persona .per {
  margin: 20px 0px;
  position: relative;
  color: #3f3f3f;
}
#sec5 .persona_wrap .persona .needs {
  margin-top: 50px;
  position: relative;
}
#sec5 .persona_wrap .persona .needs::before {
  content: "";
  width: 45vw;
  height: 3px;
  background-color: #3f3f3f;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sec5 .persona_wrap .persona h2 {
  font-size: 1.8vw;
  text-align: left;
  font-family: "GmarketSansBold";
}
#sec5 .persona_wrap .persona span {
  font-size: 1vw;
  position: absolute;
  top: 13%;
  left: 16%;
}
#sec5 .persona_wrap .persona h3 {
  font-size: 1.8vw;
  text-align: left;
  font-family: "GmarketSansBold";
  color: var(--primary-color);
}
#sec5 .persona_wrap .persona p {
  font-size: 1vw;
  text-align: left;
  margin-top: 10px;
}

#sec6 {
  background-color: var(--primary-color);
}
#sec6 h1 {
  position: absolute;
  top: 150px;
  left: 120px;
  color: #fff;
}
#sec6 img {
  width: 90%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sec7 {
  flex-direction: column;
}
#sec7 .inner ul {
  margin-top: 50px;
}
#sec7 .inner ul li {
  display: flex;
  align-items: center;
  margin: -40px 0px;
  gap: 40px;
}
#sec7 .inner ul li h2 {
  width: 10vw;
  font-size: 30px;
  font-family: "GmarketSansBold";
}
#sec7 .inner ul li .box {
  width: 25vw;
  height: 8vw;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
#sec7 .inner ul li .box.box1 {
  background-color: var(--primary-color);
  color: #fff;
  width: 12vw;
  height: 12vw;
  border-radius: 999px;
  position: relative;
}
#sec7 .inner ul li .box.box1::before {
  content: "";
  width: 5vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  right: -31%;
  z-index: -1;
}
#sec7 .inner ul li .box.box1 p {
  width: 8vw;
}
#sec7 .inner ul li .box span {
  color: var(--primary-color);
}

#sec8 {
  flex-direction: column;
}
#sec8 h1 {
  font-size: 35px;
  line-height: 35px;
  margin-bottom: 0px;
  position: absolute;
  z-index: 99;
}
#sec8 h1:nth-child(1) {
  top: 22%;
  left: 24%;
  transform: translate(-50%, -50%);
}
#sec8 h1:nth-child(2) {
  top: 78%;
  left: 75%;
  transform: translate(-50%, -50%);
}
#sec8 .inner {
  display: flex;
}
#sec8 .inner .box {
  width: 22vw;
  height: 22vw;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0px -40px;
}
#sec8 .inner .box p {
  width: 12vw;
}
#sec8 .inner .box:nth-child(1) {
  position: relative;
  background-color: var(--primary-color);
}
#sec8 .inner .box:nth-child(1)::before {
  content: "";
  width: 7vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0%;
  left: 0%;
  rotate: 45deg;
  z-index: -1;
}
#sec8 .inner .box:nth-child(2) {
  position: relative;
  background-color: #fff;
  border: 3px solid var(--primary-color);
}
#sec8 .inner .box:nth-child(2)::before {
  content: "";
  width: 7vw;
  height: 3px;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0%;
  right: 0%;
  rotate: 45deg;
  z-index: -1;
}

#sec9 {
  position: relative;
  background-color: var(--primary-color);
  margin-top: 32.5px;
}
#sec9::before {
  content: "";
  background: url(../img/Ellipse.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  top: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
}
#sec9 .app_text {
  position: absolute;
  top: 46%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sec9 .app_text h1 {
  color: #fff;
}
#sec9 .app_text p {
  font-size: 30px;
  color: var(--light-color);
}
#sec9 .app_img {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
  width: 40%;
}
#sec9 .app_img img {
  width: 100%;
}

#sec10 {
  position: relative;
  background-color: var(--primary-color);
}
#sec10 .app_text {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sec10 .app_text h1 {
  color: #fff;
}
#sec10 .app_text p {
  font-size: 30px;
  color: var(--light-color);
}
#sec10 .app_img {
  width: 40%;
  position: relative;
}
#sec10 .app_img img {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}
#sec10 .app_img img.front {
  top: 0%;
  left: 112%;
  z-index: 10;
}
#sec10 .app_img img.back {
  top: 20%;
  left: 125%;
}

#sec11 {
  position: relative;
  background-color: var(--primary-color);
}
#sec11 .app_text {
  position: absolute;
  top: 50%;
  left: 74%;
  transform: translate(-50%, -50%);
  text-align: left;
}
#sec11 .app_text h1 {
  color: #fff;
}
#sec11 .app_text p {
  font-size: 30px;
  color: var(--light-color);
}
#sec11 .app_img {
  width: 40%;
  position: absolute;
  top: 11%;
  left: 10%;
}
#sec11 .app_img img {
  width: 100%;
}

#sec12 {
  position: relative;
  background-color: var(--primary-color);
  margin-bottom: 32.5px;
}
#sec12::before {
  content: "";
  background: url(../img/Ellipse.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  bottom: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
}
#sec12 .app_text {
  position: absolute;
  top: 23%;
  left: 15%;
  text-align: left;
}
#sec12 .app_text h1 {
  color: #fff;
}
#sec12 .app_text p {
  font-size: 30px;
  color: var(--light-color);
}
#sec12 .app_img {
  width: 45%;
  position: absolute;
  top: 20%;
  right: 0%;
}
#sec12 .app_img img {
  width: 100%;
}

#sec12-1 {
  height: 50vh;
}
#sec12-1 h1 {
  font-size: 40px;
  line-height: 25px;
}

#sec13 {
  gap: 200px;
}
#sec13 h1 {
  position: absolute;
  top: 150px;
  left: 200px;
  color: var(--primary-color);
}
#sec13 .color {
  width: 27%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#sec13 .color li {
  width: 8vw;
  height: 8vw;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "GmarketSansBold";
}
#sec13 .color li:nth-child(1) {
  background-color: #668A6B;
}
#sec13 .color li:nth-child(2) {
  background-color: #006543;
}
#sec13 .color li:nth-child(3) {
  background-color: #FDFBD8;
}
#sec13 .color li:nth-child(4) {
  background-color: #EAD3B1;
}
#sec13 .color li:nth-child(5) {
  background-color: #F5E9D8;
}
#sec13 .color li:nth-child(6) {
  background-color: #FBF6EF;
}
#sec13 .text li {
  margin: 30px 0px;
  font-size: 30px;
  font-family: "GmarketSansBold";
}

#sec14 {
  flex-direction: column;
  gap: 120px;
}
#sec14 h1 {
  position: absolute;
  top: 150px;
  left: 200px;
  color: var(--primary-color);
}
#sec14 .wrap {
  width: 55%;
  text-align: right;
}
#sec14 img {
  width: 60%;
}
#sec14 p {
  width: 100%;
  font-size: 30px;
  color: #959595;
  margin: 30px 0px 100px;
}

#sec15 {
  flex-direction: column;
  gap: 120px;
}
#sec15 h1 {
  position: absolute;
  top: 150px;
  left: 200px;
  color: var(--primary-color);
}
#sec15 img {
  width: 40%;
}
#sec15 p {
  width: 50%;
  font-size: 30px;
}

#sec16 {
  position: relative;
  background-color: var(--light-color);
  margin: 75px 0px;
}
#sec16::before {
  content: "";
  background: url(../img/Ellipse.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  top: calc(0% - 75px);
  width: 100%;
  height: 75px;
}
#sec16::after {
  content: "";
  background: url(../img/Ellipse2.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  top: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
}
#sec16 .back1 {
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  position: absolute;
  top: calc(0% - 35.5px);
}
#sec16 .back2 {
  background: url(../img/Ellipse2.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  bottom: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
}
#sec16 .back2::before {
  content: "";
  width: 100%;
  height: 40px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0%;
  bottom: calc(0% - 1.5px);
  z-index: -1;
}
#sec16 .back2::after {
  content: "";
  background: url(../img/Ellipse.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  left: 0%;
  bottom: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
  z-index: -1;
}
#sec16 img {
  width: 60%;
}

.subtract img {
  position: absolute;
}
.subtract img:nth-child(1) {
  top: 196vh;
  left: 0%;
}
.subtract img:nth-child(2) {
  top: 392vh;
  right: 0%;
}
.subtract img:nth-child(3) {
  top: 463vh;
  left: 10%;
}
.subtract img:nth-child(4) {
  top: 516vh;
  left: 33%;
}
.subtract img:nth-child(5) {
  top: 578vh;
  left: 81%;
}
.subtract img:nth-child(6) {
  top: 785vh;
  right: 0%;
}

footer {
  position: relative;
  width: 100%;
  height: 50vh;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32.5px;
  flex-direction: column;
  gap: 25px;
}
footer::before {
  content: "";
  background: url(../img/Ellipse.svg) repeat-x center;
  background-size: 75px;
  position: absolute;
  top: calc(0% - 32.5px);
  width: 100%;
  height: 75px;
}
footer h2 {
  font-family: "GmarketSansBold";
  color: var(--light-color);
}
footer p {
  font-size: 25px;
}
footer p.thank {
  position: absolute;
  bottom: 2%;
}