@font-face {
    font-family: Binggrae-Bold;
    src: url(./fonts/Binggrae-Bold.woff);
}

@font-face {
    font-family: Binggrae;
    src: url(./fonts/Binggrae.woff);
}

@font-face {
    font-family: jt-font;
    src: url(./fonts/jt-font.woff);
}